<link rel="stylesheet" type "text/css" href="css/style.css">

<!doctype HTML5>

<html lang="en">

<head>
</head>

<div id="theNavBar">
	<ul id="options">
		<ul id="home"><a class="one" href="/">ISBN</a></ul>
		<div id="optionsdiv">
			<ul id="options">
				<li><a class="links" href="#">Social Media Links</a>
					<ul>
						<li><a class="facebook" href="https://www.facebook.com/minedmindsfoundation/" target = "_blank">Facebook</a></li>
						<li><a class="twitter" href= "https://twitter.com/MinedMinds" target = "_blank">Twitter</a></li>
					</ul>
				</li>
				<li><a class="about" href="http://www.minedminds.org" target = "_blank">About Mined Minds</a></li>
				<li><a class="contact" href="http://www.minedminds.org/contact" target = "_blank">Contact Mined Minds</a></li>
			</ul>
		</div>
	</ul>
</div>

<body>
	<% the_bucket_var = the_bucket_var.gsub("[", "").gsub(" ", "").gsub("]","") %>
	<% the_bucket_var = the_bucket_var.delete(' ')  %>
	<% the_bucket_var = the_bucket_var.split(",") %>
	
	<%  the_bucket_var.each_with_index do |single, posi| %>
		<% if posi % 3 == 0 %>
			<br>
		<% else %>
		<% end %>
	<%= "#{single.gsub('"','')}" %>
	<% end %>
	<br>

	<a href="/">Try Another</a>

</body>